<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564836970160-c3jvlvb6e0qgrglktf875vn288t7o719.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564836970160-c3jvlvb6e0qgrglktf875vn288t7o719</string>
	<key>API_KEY</key>
	<string>AIzaSyDdsqJNWgQGKmk5c-O4KGdMMcDOusa9fno</string>
	<key>GCM_SENDER_ID</key>
	<string>564836970160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sarah.com.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-a149d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-a149d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564836970160:ios:caad0e118f1eac29551575</string>
</dict>
</plist>